body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #d0d4d2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #075A27;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1,h2 {
    color: #075A27;
}
.summary {
    margin-left: 10px;
}
.header h1 {
    margin: 10px 0;
}
.contact {
    margin: 10px 0;
    margin-left: 20px;
    font-size: 14px;
}
.contact a {
    color: #106531;
    text-decoration: none;
}
.head-link {
    text-decoration: none;
    color:#106531;
}
.head-link:hover {
    color:#1caa53;
    text-decoration: underline;
}
.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #075A27;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}
.item p {
    margin: 4px 0;
    font-size: 14px;
    margin-left: 6px;
}
.italics {
    font-size: 16px;
}
.transition {
    color: #106531;
    margin-left: 5px;
}
.skills ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
.skills ul li {
    display: inline-block;
    border: 3px solid #075A27;
    background: #d0d4d2;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
}
.footer {
    margin-top: 10px;
    border-top: 2px solid #075A27;
    padding-top: 15px;
}