/* #region Main Bullshit */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #d0d4d2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #075A27;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1,h2 {
    color: #075A27;
}
.summary {
    margin-left: 10px;
}
.header h1 {
    margin: 10px 0;
}
.header {
    margin-bottom: 40px;
}
.head-link {
    text-decoration: none;
    color:#106531;
}
.head-link:hover {
    color:#1caa53;
    text-decoration: underline;
}
/* #endregion */

/* #region General Specifics */
.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #075A27;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}
.item p {
    margin: 4px 0;
    font-size: 14px;
    margin-left: 6px;
}
.italics {
    font-size: 16px;
}
.transition {
    color: #106531;
    margin-left: 5px;
}
/* #endregion */

/* #region Cutting Up the Main Content? */
.flexer {
    display:flex;
    flex-flow: column-reverse nowrap;
    gap: 2rem;
}
#content {
    flex: 2;
}
.nav-sidebar {
    flex: 1;
    border-top: 2px solid #075A27;
    border-bottom: 2px solid #075A27;
}
/* #endregion */

/* #region Resume Bits */
.contact {
    margin: 10px 0;
    margin-left: 20px;
    font-size: 14px;
}
.contact a {
    color: #106531;
    text-decoration: none;
}
.skills ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
.skills ul li {
    display: inline-block;
    border: 3px solid #075A27;
    background: #d0d4d2;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
}
/* #endregion */

/* #region Projects Formatting */
.dates {
    font-style: italic;
}
.details {
    display: flex;
    flex-flow: column nowrap;
    font-size: 95%;
}
/* #endregion */

@media (min-width: 400px) {
    .header {
        margin-bottom: 0px;
    }
    .flexer {
        flex-flow: row nowrap;
    }
    .nav-sidebar {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 2px solid #075A27;    
    }
}